sentence-transformers
uvicorn
ctransformers
langchain
python-box
streamlit
langchain-community
torch
llama_index
pymongo
python-dotenv
transformers 
einops 
accelerate 
langchain 
bitsandbytes
bs4
langchain_groq